.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    align-items: center;
  }
  
  .header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
  }
  
  .header nav ul li {
    cursor: pointer;
  }
  
  .header .icons {
    display: flex;
    gap: 15px;
  }
  
  .header .icon {
    cursor: pointer;
  }
  